#header, #logo{display:none;}

input, textarea {
    border:none !important;
    box-shadow:0 !important;
    border: 1px solid #D4D4D4 !important;
    background-image:none !important;
}

input{padding: 8px !important;}
.wufoo label.desc, .wufoo legend.desc {color:#6A696C !important; font-sise:16px !important; margin-bottom: 10px;}
form span.req {color:#6A696C !important;}
#saveForm {background:url('img/send.png') !important; border:none !important; width:63px; height:36px; text-indent:-999em;}
.wufoo label.desc, .wufoo legend.desc {font-size:14px;}
#errorLi {display:none;}
form li.error {background:none !important;}
form li.error .desc {color:#6A696C !important;}