#header, #logo{display:none;}
ul {}
#form19 { height: 90px; position:relative; width:665px; paddin-top: 20px;}
#fo19li1, .buttons {float:left !important; width:100%;}
#form19 ul li {padding: 0 !important; height:70px !important; }
#form19 ul li label, #form19 ul li div {float:left;}
#form19 ul li div {width:270px;}
.buttons {padding-left:0 !Important; height:100px !Important;}
.buttons div {width:105px !Important; margin:0 !Important;}
#saveForm {padding: 0 !important; position:absolute; right: -505px; top: -72px; background:none; border: none; background: url('img/subscribe-btn.png') no-repeat 0 0; width:105px; height:36px; color: #ffffff; text-indent:-999em;} 
#fo19li1 {}
.leftLabel .buttons div, .rightLabel .buttons div {
    float:left !Important;
}
form ul:after, form li:after, form li div:after {clear:none !important;}
#title1 {background:url('img/mailing.png') 0 center no-repeat; width:198px; height:36px; text-indent:-999em;}
#Field1 {width: 260px; height:22px; padding: 5px; border: #d4d4d4 1px solid;}

#errorLi {display:none;}
form li.error {background-color: transparent !important; }
.embed .confirm h2 {padding: 0 !important;}
input.text, input.search, textarea.textarea {background-image:none !important;}